In [48]:
import pandas as pd

In [49]:
payments = pd.read_csv("payments.csv")
payments.head()

,accnumber_hash,paymentamount_avg,paymentamount_sd,paymentamount_cv
0,000132cfc16d6410dc5815ce254aa7b70d33c94a257219...,750.0,288.675135,0.384900
1,0001d77245b25da251c6fc3d0196207e78834620865d14...,2050.0,331.662479,0.161787
2,000222a784776a5342c6a8e7e6fe1c2dcdb49cd146defe...,1339.0,234.520788,0.175146
3,0003a43ae6c76b1bee6192e502eca2e8c240bf31a48877...,2750.0,353.553391,0.128565
4,0003d019975b404153595435b796382ccb32b862271aae...,816.0,737.425827,0.903708

In [50]:
payments.shape

(107078, 4)

In [51]:
faults = pd.read_csv("faults.csv")

In [52]:
faults.shape

(15317, 4)

In [53]:
extragb = pd.read_csv("extragb.csv")
extragb.head()

,accnumber_hash,extragb_gb_tot_avg,extragb_event_count_avg,extragb_cost_tot_avg,extragb_gb_tot_cv,extragb_cost_tot_cv
0,000132cfc16d6410dc5815ce254aa7b70d33c94a257219...,2.00,2.0,200.0,0.000000,0.000000
1,000222a784776a5342c6a8e7e6fe1c2dcdb49cd146defe...,3.25,1.5,325.0,0.461538,0.461538
2,0003a43ae6c76b1bee6192e502eca2e8c240bf31a48877...,7.00,3.0,700.0,0.597023,0.507045
3,00070055f2c8967c1ebc6fe9f8e53d8bfcf631b4c94663...,23.00,4.0,1930.0,0.307438,0.271119
4,0008af8f3b99a0f4f3947e0eea82e7d0a2a828fa2a3e35...,2.00,1.0,200.0,2.089579,1.774657

In [54]:
extragb.shape

(37636, 6)

In [55]:
bill = pd.read_csv("bill.csv")

In [56]:
bill.duplicated(['accnumber_hash'])

0         False
1         False
2         False
3         False
4         False
          ...
106910    False
106911    False
106912    False
106913    False
106914    False
Length: 106915, dtype: bool

In [57]:
bill.shape

(106915, 9)

In [58]:
#label.PRODUCT_LABEL_HASH.value_counts()

In [59]:
# merge the datasets one by one, using the accnumber_hash column as the key
merged_data = pd.merge(bill, payments, on='accnumber_hash', how='outer')
merged_data = pd.merge(merged_data, faults, on='accnumber_hash', how='outer')
merged_data = pd.merge(merged_data, extragb, on='accnumber_hash', how='outer')

In [60]:
# write the merged dataset to a new csv file
# merged_data.to_csv('merged_data.csv', index=False)

In [61]:
merged_data.shape

(108274, 20)

In [62]:
# fill null values with 0
merged_data_new = merged_data.fillna(0)

In [63]:
merged_data_new.head(20)

,accnumber_hash,bill_dtm,balance_fwd_mny,payments_mny,adjustments_mny,paymentdate,bill_total,Remaining_bill,Payment_Day_dfr,paymentamount_avg,paymentamount_sd,paymentamount_cv,avg_event_source_faultRef_HASH_count,max_clearance_time,avg_event_source_clearance_time_seconds,extragb_gb_tot_avg,extragb_event_count_avg,extragb_cost_tot_avg,extragb_gb_tot_cv,extragb_cost_tot_cv
0,2d907d8b4bffc7b1ff3a9d5fd98218dde3450d8f125f52...,202205.0,-22.23,0.00,0.00,3/30/2022,0.00,paid aditionally less than 1000,over 7 month,2800.000000,737.425827,0.263366,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
1,89b801e32a5e8dad531fa7a2934a30aef081709ebf44df...,202206.0,68.63,0.00,0.00,4/20/2022,0.00,Need to pay less than 1000,over 7 month,3200.000000,737.425827,0.230446,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
2,dd0b55ea53cd3581dc7854b27c12efd1a981fecd40234d...,202206.0,-120.19,0.00,0.00,2/3/2022,0.00,paid aditionally less than 1000,over 7 month,5704.000000,737.425827,0.129282,0.0,0.0,0.0,20.000000,1.000000,1500.000000,0.208958,0.236621
3,320038b17cbe7fafe4edcec5f38d4768475d0553f16bf9...,202205.0,421.22,2346.83,0.00,6/4/2022,0.00,paid aditionally 1000,over 7 month,2166.000000,737.425827,0.340455,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
4,3dff4a282517c1b646cd1a601aa6fc75412de88b2f8c32...,202205.0,2143.44,0.00,1267.64,2/2/2022,-1525.60,Need to pay more 2000,over 7 month,1500.000000,737.425827,0.491617,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
5,0e8056a6772616a1b4215724e14d331fac131888155d5b...,202205.0,457.42,1000.00,0.00,8/2/2022,0.00,paid aditionally less than 1000,over 7 month,3400.000000,737.425827,0.216890,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
6,6f78eb1e4c639a36def70531d58c5946ac6d747566a1c9...,202205.0,2047.64,2667.64,0.00,5/25/2022,0.00,paid aditionally less than 1000,within 7 month,1124.000000,616.000000,0.548043,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
7,74c339c66e5c188d68abf530e7c33bb769fdfc514fd418...,202206.0,-8898.34,0.00,0.00,12/2/2022,0.00,paid aditionally 2000,within 7 month,4466.666667,4100.406484,0.918001,1.0,10255.0,10255.0,0.000000,0.000000,0.000000,0.000000,0.000000
8,a0ee14c4e6bc40d670143a6236e15db3785ea8d3876c64...,202204.0,1683.44,0.00,1527.74,2/22/2022,-1683.62,Need to pay more 1000,over 7 month,1610.000000,737.425827,0.458028,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
9,5f2c5b50f20e6371ccbe4b4e8788db2811136035d8e4a8...,202206.0,0.00,0.00,0.00,2/16/2022,0.00,Need to pay less than 1000,over 7 month,2829.000000,3918.785781,1.385219,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
10,96c893503ccf34651567418217bfc410e2f630d6336cd1...,202203.0,1091.42,1092.00,0.00,4/14/2022,1091.02,paid aditionally less than 1000,over 7 month,1183.400000,166.355944,0.140575,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
11,c24c029881528394b43fcc66cfbd08143dc9c3ad363e6f...,202203.0,3576.26,0.00,0.00,2/2/2022,3576.26,Need to pay more 3000,within 3 month,4323.000000,1583.281245,0.366246,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
12,7b8513630b052dd01a5320286ff5c3d03c4a3a299f61e9...,202203.0,1485.23,0.00,0.00,1/5/2022,2578.76,Need to pay more 1000,over 7 month,2532.333333,1017.885226,0.401955,0.0,0.0,0.0,5.333333,1.333333,458.333333,0.845484,0.820602
13,1ca7070a86d047d240358dba8dd72b4e88db27655a4abb...,202203.0,2959.96,2000.00,0.00,2/25/2022,1305.90,Need to pay less than 1000,within 2 month,1293.200000,478.258508,0.369826,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
14,52b932be943953fb530378b577d06421079a61df05253b...,202203.0,1080.56,0.00,0.00,5/22/2022,1091.02,Need to pay more 1000,over 7 month,2540.000000,561.070406,0.220894,0.0,0.0,0.0,9.500000,4.500000,950.000000,0.223297,0.223297
15,653418cd721bd97be2453d914c22be5b4e994cdabc5dd2...,202203.0,1408.10,0.00,0.00,8/2/2022,1421.63,Need to pay more 1000,within 2 month,2854.250000,1189.554083,0.416766,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
16,3f4fa2d7c6ce9ba6a48a8081158eaad3a9de7488b445e2...,202203.0,980.44,985.00,0.00,4/23/2022,980.81,paid aditionally less than 1000,over 7 month,989.000000,17.464249,0.017658,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
17,27b6b8a66fd329db0aae5103a939ad1c518cf9874fba1f...,202203.0,3935.62,0.00,0.00,7/4/2022,815.51,Need to pay more 3000,within 1 month,1425.000000,813.172798,0.570648,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
18,81d8a359cf90575281ce967af87674c04751b776440b66...,202203.0,710.15,0.00,0.00,2/15/2022,1642.03,Need to pay less than 1000,within 2 month,2329.000000,318.124190,0.136593,2.0,104874.0,130323.0,0.000000,0.000000,0.000000,0.000000,0.000000
19,4ba429f185ab918f674db1547e1324b24ffea1efa57ed9...,202203.0,1057.82,0.00,0.00,6/25/2022,815.51,Need to pay more 1000,over 7 month,2300.000000,737.425827,0.320620,1.0,2878.0,2878.0,0.000000,0.000000,0.000000,0.000000,0.000000

In [64]:
# merged_data_new.to_csv('merged_data_new.csv', index=False)

In [65]:
merged_data_new.Remaining_bill.unique()

array(['paid aditionally less than 1000', 'Need to pay less than 1000',
       'paid aditionally 1000', 'Need to pay more 2000',
       'paid aditionally 2000', 'Need to pay more 1000',
       'Need to pay more 3000', 'need to pay more', 0], dtype=object)

In [66]:
# create a dictionary to map the unique values to integers
map_dict = {
    'paid aditionally less than 1000': 1,
    'Need to pay less than 1000': 2,
    'paid aditionally 1000': 3,
    'Need to pay more 1000': 4,
    'paid aditionally 2000': 5,
    'Need to pay more 2000': 6,
    'Need to pay more 3000': 7,
    'need to pay more': 8,
    0: 0
}

# replace the unique values in Remaining_bill column with numerical form
merged_data_new['Remaining_bill'] = merged_data_new['Remaining_bill'].replace(map_dict)

In [67]:
merged_data_new.Payment_Day_dfr.unique()

array(['over 7 month', 'within 7 month', 'within 3 month',
       'within 2 month', 'within 1 month', 'within 4 month',
       'within 5 month', 0], dtype=object)

In [68]:
map_dict = {
    'over 7 month': 1,
    'within 7 month': 2,
    'within 6 month': 3,
    'within 5 month': 4,
    'within 4 month': 5,
    'within 3 month': 6,
    'within 2 month': 7,
    'within 1 month': 8,
    0: 0
}

In [69]:
# replace the unique values in Remaining_bill column with numerical form
merged_data_new['Payment_Day_dfr'] = merged_data_new['Payment_Day_dfr'].replace(map_dict)

In [70]:
merged_data_new.head(3)

,accnumber_hash,bill_dtm,balance_fwd_mny,payments_mny,adjustments_mny,paymentdate,bill_total,Remaining_bill,Payment_Day_dfr,paymentamount_avg,paymentamount_sd,paymentamount_cv,avg_event_source_faultRef_HASH_count,max_clearance_time,avg_event_source_clearance_time_seconds,extragb_gb_tot_avg,extragb_event_count_avg,extragb_cost_tot_avg,extragb_gb_tot_cv,extragb_cost_tot_cv
0,2d907d8b4bffc7b1ff3a9d5fd98218dde3450d8f125f52...,202205.0,-22.23,0.0,0.0,3/30/2022,0.0,1,1,2800.0,737.425827,0.263366,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
1,89b801e32a5e8dad531fa7a2934a30aef081709ebf44df...,202206.0,68.63,0.0,0.0,4/20/2022,0.0,2,1,3200.0,737.425827,0.230446,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
2,dd0b55ea53cd3581dc7854b27c12efd1a981fecd40234d...,202206.0,-120.19,0.0,0.0,2/3/2022,0.0,1,1,5704.0,737.425827,0.129282,0.0,0.0,0.0,20.0,1.0,1500.0,0.208958,0.236621

In [71]:
merged_data_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108274 entries, 0 to 108273
Data columns (total 20 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   accnumber_hash                           108274 non-null  object
 1   bill_dtm                                 108274 non-null  float64
 2   balance_fwd_mny                          108274 non-null  float64
 3   payments_mny                             108274 non-null  float64
 4   adjustments_mny                          108274 non-null  float64
 5   paymentdate                              108274 non-null  object
 6   bill_total                               108274 non-null  float64
 7   Remaining_bill                           108274 non-null  int64
 8   Payment_Day_dfr                          108274 non-null  int64
 9   paymentamount_avg                        108274 non-null  float64
 10  paymentamount_sd                         108274 non-null  float64
 11  paymentamount_cv                         108274 non-null  float64
 12  avg_event_source_faultRef_HASH_count     108274 non-null  float64
 13  max_clearance_time                       108274 non-null  float64
 14  avg_event_source_clearance_time_seconds  108274 non-null  float64
 15  extragb_gb_tot_avg                       108274 non-null  float64
 16  extragb_event_count_avg                  108274 non-null  float64
 17  extragb_cost_tot_avg                     108274 non-null  float64
 18  extragb_gb_tot_cv                        108274 non-null  float64
 19  extragb_cost_tot_cv                      108274 non-null  float64
dtypes: float64(16), int64(2), object(2)
memory usage: 17.3+ MB

In [72]:
merged_data_new = merged_data_new.drop(columns='paymentdate')

In [73]:
merged_data_new.shape

(108274, 19)

In [74]:
label = pd.read_csv("LTEchurn_label_anonymized.csv")
label.head(3)

,accnumber_hash,PRODUCT_LABEL_HASH,M1,M2,M3,M4,M5,M6,churn_status
0,75846e18f421036c0623e263110709fd97050ef44ff4ab...,325c71e2ef5940a834a5bd195ddc7b8cdba95a6c967bcd...,OK,OK,OK,OK,OK,OK,0
1,6f762175d5963f7501e1e76f0dc09dd26825ab8adfcad5...,4b2543743d9806de28bb74a06ccd999e4a121cfc2c02a3...,OK,OK,OK,OK,OK,OK,0
2,28d3f9572e2ee17e07ff5a818288242488572b1a5bef90...,7970d8cc7fa597e12a3123bd6fa869303c4d4710cc3957...,OK,OK,OK,OK,OK,OK,0

In [75]:
label.accnumber_hash.value_counts()

0df33b3cb0e4b69f0435fdad484ea14cb609e6d94c97b66b0d69ba59d59a3936    3039
370445ae5781a7fe2a7a8edf8e6cba62383c1d2b33fb0c688f2ac9033578f780    2736
5e7cabcab02a24667b2f52edf2bcf85e7e4125410b71ba640a5048cac2c11aa9     858
2f1d9be0962d81160064a840c8cd8ffb20f4b4380c47ccf99a644935d45119b9     777
4eb7b80201daebd1acbba951c0903dabe637b3a1378bc3d172c86703705e8885     644
                                                                    ...
8b0b78e73c597d9e95fd03abd272b42f53915fb90846ef483bd5832d73b8f3d7       1
6219d6df29009caa7c81829526a84f599c958cffbe842516d38792cd8e0bc48c       1
fbebb7ed25fea89f55252c5eb982a6d98d8c5b54c5e685fc22ad997f98e02fd4       1
7cf1f9072cf0b1834dee3b18bd183e206b1872006a1e127963f70d1a299f2bdc       1
4a06a40854e90b3cb2ce9b6741e9f0ede653c7fe5231e2312ce25f0e76b73f64       1
Name: accnumber_hash, Length: 158317, dtype: int64

In [76]:
label.duplicated(['accnumber_hash'])

0         False
1         False
2         False
3         False
4         False
          ...
295130    False
295131    False
295132    False
295133    False
295134    False
Length: 295135, dtype: bool

In [77]:
label.duplicated(['PRODUCT_LABEL_HASH'])

0         False
1         False
2         False
3         False
4         False
          ...
295130     True
295131     True
295132     True
295133     True
295134     True
Length: 295135, dtype: bool

In [78]:
label = label.drop(['M1','M2','M3','M4','M5','M6'], axis=1)

In [79]:
label.head(3)

,accnumber_hash,PRODUCT_LABEL_HASH,churn_status
0,75846e18f421036c0623e263110709fd97050ef44ff4ab...,325c71e2ef5940a834a5bd195ddc7b8cdba95a6c967bcd...,0
1,6f762175d5963f7501e1e76f0dc09dd26825ab8adfcad5...,4b2543743d9806de28bb74a06ccd999e4a121cfc2c02a3...,0
2,28d3f9572e2ee17e07ff5a818288242488572b1a5bef90...,7970d8cc7fa597e12a3123bd6fa869303c4d4710cc3957...,0

In [84]:
label.shape

(295135, 3)

In [85]:
# Group by 'accnumber_hash' and select the highest priority value for 'churn_status'
#label_updated = label.groupby('accnumber_hash')['churn_status'].max().reset_index()

In [86]:
label_updated = label.groupby('accnumber_hash')['churn_status'].apply(lambda x: x.mode()[0]).reset_index()

In [87]:
label_updated.head(4)

                                      accnumber_hash  churn_status
0  000132cfc16d6410dc5815ce254aa7b70d33c94a257219...             0
1  0001aa6a1468dee513aa6f1863206bb59165f12a32a11b...             1
2  0001d77245b25da251c6fc3d0196207e78834620865d14...             0
3  000222a784776a5342c6a8e7e6fe1c2dcdb49cd146defe...             0

In [88]:
label_updated.accnumber_hash.value_counts()

000132cfc16d6410dc5815ce254aa7b70d33c94a257219e8b91d236064372488    1
ab15b87acd60425fe1491cd600c9cdee9e457b88976b9c69e645c58089fb1e2b    1
ab12fa2d7586c1a95f9862f93e61aa26d13fae20682bfdbec13336d0a3414c6a    1
ab133adcc4a7e1f19b95ee48fe81f858807589a1e145391c07e604365f77cd02    1
ab138dc778f947dc1ac857c7c43f866bee1a05c1e6dd00dfad11b2fbdee2d2c7    1
                                                                   ..
55e599038fee034560b1a2b8e13506fc1de978e2b2790a257cc4c366d8053a89    1
55e64b64a07750bee58e892e2c46853e37b9e988029f8b84027b77de8f1a4501    1
55e64b8a322c1b31b84ca156c10142f2cab9a44884511b6dbe9d012f313d6ec2    1
55e67c8e1e55dedac9539c5dbdf4f76fb1bc7b66c4cdbbf5b82099a2c94c9abf    1
ffff35f9a5f70bcd5247da008794924f16bea7060506e7ca585b62e6ff0b3bfe    1
Name: accnumber_hash, Length: 158317, dtype: int64

In [89]:
label_updated.shape

(158317, 2)

In [90]:
label_updated.head()

                                      accnumber_hash  churn_status
0  000132cfc16d6410dc5815ce254aa7b70d33c94a257219...             0
1  0001aa6a1468dee513aa6f1863206bb59165f12a32a11b...             1
2  0001d77245b25da251c6fc3d0196207e78834620865d14...             0
3  000222a784776a5342c6a8e7e6fe1c2dcdb49cd146defe...             0
4  000250453d43f5095268f0cd26745517b2dc3c6903a459...             1

In [91]:
label_updated.churn_status.value_counts()

0    92941
1    65376
Name: churn_status, dtype: int64

In [92]:
########################### Check ##############################################

In [93]:
label[label['accnumber_hash']=='4eb7b80201daebd1acbba951c0903dabe637b3a1378bc3d172c86703705e8885']

,accnumber_hash,PRODUCT_LABEL_HASH,churn_status
71756,4eb7b80201daebd1acbba951c0903dabe637b3a1378bc3...,3b1dccd0f65861c4cd0a3e3c89bbbe9188e4a5a9f64dc0...,0
71757,4eb7b80201daebd1acbba951c0903dabe637b3a1378bc3...,3b1dccd0f65861c4cd0a3e3c89bbbe9188e4a5a9f64dc0...,1
71758,4eb7b80201daebd1acbba951c0903dabe637b3a1378bc3...,3b1dccd0f65861c4cd0a3e3c89bbbe9188e4a5a9f64dc0...,0
71759,4eb7b80201daebd1acbba951c0903dabe637b3a1378bc3...,3b1dccd0f65861c4cd0a3e3c89bbbe9188e4a5a9f64dc0...,1
71760,4eb7b80201daebd1acbba951c0903dabe637b3a1378bc3...,3b1dccd0f65861c4cd0a3e3c89bbbe9188e4a5a9f64dc0...,0
...,...,...,...
72395,4eb7b80201daebd1acbba951c0903dabe637b3a1378bc3...,2f440c723625ee56c0b97f52fbb82d29691aa175c9ae15...,1
72396,4eb7b80201daebd1acbba951c0903dabe637b3a1378bc3...,2f440c723625ee56c0b97f52fbb82d29691aa175c9ae15...,0
72397,4eb7b80201daebd1acbba951c0903dabe637b3a1378bc3...,2f440c723625ee56c0b97f52fbb82d29691aa175c9ae15...,1
72398,4eb7b80201daebd1acbba951c0903dabe637b3a1378bc3...,2f440c723625ee56c0b97f52fbb82d29691aa175c9ae15...,0
72399,4eb7b80201daebd1acbba951c0903dabe637b3a1378bc3...,2f440c723625ee56c0b97f52fbb82d29691aa175c9ae15...,1

In [94]:
label[label['accnumber_hash']=='4eb7b80201daebd1acbba951c0903dabe637b3a1378bc3d172c86703705e8885'].churn_status.value_counts()

1    323
0    321
Name: churn_status, dtype: int64

In [95]:
label_updated[label_updated['accnumber_hash']=='4eb7b80201daebd1acbba951c0903dabe637b3a1378bc3d172c86703705e8885']

                                          accnumber_hash  churn_status
48396  4eb7b80201daebd1acbba951c0903dabe637b3a1378bc3...             1

In [96]:
label[label['accnumber_hash']=='78bd17c38e2191decb954cba9e06582ccb189bafb51dc1cae2bc2133b6e09ecd']

,accnumber_hash,PRODUCT_LABEL_HASH,churn_status
10,78bd17c38e2191decb954cba9e06582ccb189bafb51dc1...,e9974bf759ea81b6ef20206bacd7a18d83a0fab9577806...,0
11,78bd17c38e2191decb954cba9e06582ccb189bafb51dc1...,e9974bf759ea81b6ef20206bacd7a18d83a0fab9577806...,1
12,78bd17c38e2191decb954cba9e06582ccb189bafb51dc1...,e9974bf759ea81b6ef20206bacd7a18d83a0fab9577806...,0
13,78bd17c38e2191decb954cba9e06582ccb189bafb51dc1...,e9974bf759ea81b6ef20206bacd7a18d83a0fab9577806...,1
14,78bd17c38e2191decb954cba9e06582ccb189bafb51dc1...,e9974bf759ea81b6ef20206bacd7a18d83a0fab9577806...,0
...,...,...,...
71,78bd17c38e2191decb954cba9e06582ccb189bafb51dc1...,e9974bf759ea81b6ef20206bacd7a18d83a0fab9577806...,1
72,78bd17c38e2191decb954cba9e06582ccb189bafb51dc1...,e9974bf759ea81b6ef20206bacd7a18d83a0fab9577806...,0
73,78bd17c38e2191decb954cba9e06582ccb189bafb51dc1...,e9974bf759ea81b6ef20206bacd7a18d83a0fab9577806...,1
74,78bd17c38e2191decb954cba9e06582ccb189bafb51dc1...,284e66300269b0389fac02786bbefd9c249cd91bb45bdb...,0
75,78bd17c38e2191decb954cba9e06582ccb189bafb51dc1...,25c0ad27a827bbfee565f3881ef5a08182455fe22281e9...,0

In [97]:
label[label['accnumber_hash']=='78bd17c38e2191decb954cba9e06582ccb189bafb51dc1cae2bc2133b6e09ecd'].churn_status.value_counts()

0    34
1    32
Name: churn_status, dtype: int64

In [98]:
label_updated[label_updated['accnumber_hash']=='78bd17c38e2191decb954cba9e06582ccb189bafb51dc1cae2bc2133b6e09ecd']

                                          accnumber_hash  churn_status
74255  78bd17c38e2191decb954cba9e06582ccb189bafb51dc1...             0

In [99]:
label[label['accnumber_hash']=='2b529a092c93552f2836afb2a64b2bfc90aded64b7023ede86656df4a03954f8']

,accnumber_hash,PRODUCT_LABEL_HASH,churn_status
4050,2b529a092c93552f2836afb2a64b2bfc90aded64b7023e...,c8164ee19471dee8cff7dea56642bb70b3f59edab1b91e...,0
4051,2b529a092c93552f2836afb2a64b2bfc90aded64b7023e...,c8164ee19471dee8cff7dea56642bb70b3f59edab1b91e...,1
4052,2b529a092c93552f2836afb2a64b2bfc90aded64b7023e...,c8164ee19471dee8cff7dea56642bb70b3f59edab1b91e...,0
4053,2b529a092c93552f2836afb2a64b2bfc90aded64b7023e...,c8164ee19471dee8cff7dea56642bb70b3f59edab1b91e...,1
4054,2b529a092c93552f2836afb2a64b2bfc90aded64b7023e...,c8164ee19471dee8cff7dea56642bb70b3f59edab1b91e...,0
...,...,...,...
4109,2b529a092c93552f2836afb2a64b2bfc90aded64b7023e...,c8164ee19471dee8cff7dea56642bb70b3f59edab1b91e...,1
4110,2b529a092c93552f2836afb2a64b2bfc90aded64b7023e...,c8164ee19471dee8cff7dea56642bb70b3f59edab1b91e...,0
4111,2b529a092c93552f2836afb2a64b2bfc90aded64b7023e...,c8164ee19471dee8cff7dea56642bb70b3f59edab1b91e...,1
4112,2b529a092c93552f2836afb2a64b2bfc90aded64b7023e...,c8164ee19471dee8cff7dea56642bb70b3f59edab1b91e...,0
4113,2b529a092c93552f2836afb2a64b2bfc90aded64b7023e...,c8164ee19471dee8cff7dea56642bb70b3f59edab1b91e...,1

In [100]:
label[label['accnumber_hash']=='2b529a092c93552f2836afb2a64b2bfc90aded64b7023ede86656df4a03954f8'].churn_status.value_counts()

0    32
1    32
Name: churn_status, dtype: int64

In [101]:
label_updated[label_updated['accnumber_hash']=='2b529a092c93552f2836afb2a64b2bfc90aded64b7023ede86656df4a03954f8']

                                          accnumber_hash  churn_status
26739  2b529a092c93552f2836afb2a64b2bfc90aded64b7023e...             0

In [102]:
##########################################################################

In [103]:
# Merge label dataset

In [104]:
merged_data = pd.merge(merged_data_new, label_updated, on='accnumber_hash', how='outer')

In [105]:
merged_data.shape

(158423, 20)

In [106]:
merged_data.to_csv('merged_data_mode.csv', index=False)